[submodule "vendor/emacs-powerline"]
	path = vendor/emacs-powerline
	url = https://github.com/jonathanchu/emacs-powerline.git
[submodule "vendor/solarized-color"]
	path = vendor/solarized-color
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "vendor/scss-mode"]
	path = vendor/scss-mode
	url = https://github.com/antonj/scss-mode.git
[submodule "vendor/haml-mode"]
	path = vendor/haml-mode
	url = https://github.com/nex3/haml-mode.git
[submodule "vendor/yasnippet"]
	path = vendor/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "vendor/ruby-electric"]
	path = vendor/ruby-electric
	url = https://github.com/qoobaa/ruby-electric.git
[submodule "vendor/powerline"]
	path = vendor/powerline
	url = https://github.com/milkypostman/powerline.git
[submodule "vendor/anything"]
	path = vendor/anything
	url = git://repo.or.cz/anything-config.git
[submodule "vendor/js2-mode"]
	path = vendor/js2-mode
	url = git@github.com:mooz/js2-mode.git
